* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
  --primary-color: black;
  --secondary-color: #333;
  --tertiary-color: white;
  --card-color: #ccc;
  --review-star-color: gold;
  --font-family: 'Roboto', sans-serif;
  --header-height: 60px;
  --header-width: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--secondary-color);
  }
  
/* --------------Home Section---------------- */

nav {
    top: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed;
    z-index: 1000;
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2px 4px var(--primary-color);
}

nav .home-link {
    margin-right: 20px;
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--secondary-color);
}

nav .home-link img {
    margin-right: 20px;
    width: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav .links-container a {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
}

nav .links-container a:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    transition: 0.8s ease;
}

nav .links-container .signup-btn {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 5px; 
    border: 2px solid var(--secondary-color);
    transition: 0.8s ease;
}

nav .links-container .signup-btn:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
}


/* section {
    height: 100vh;
} */

#home {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-image: url('static/image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 400px;
    margin-left: -100px;
    max-width: 30%;
    max-height: fit-content;
}

.home-content h2 {
    color: var(--tertiary-color);
    font-size: 2.5vw;
    text-shadow: 1px 1px 2px var(--primary-color);
  }


.home-content a {
    color: var(--tertiary-color);
    font-size: 1.1em;
    background-color: var(--secondary-color);
    margin: 10px 0; 
    padding: 20px 20px; 
    max-width: 200px; 
    max-height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    border: 2px solid var(--secondary-color);
    transition: 0.8s ease;
    box-shadow: 2px 2px 4px var(--primary-color);
}

.home-content a:hover {
    background-color: transparent;
    
}

/* Responsive Styles */

@media(max-width: 450px){

    nav .home-link h2 {
        font-size: 1.2em;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        width: 300px;
        background-color: var(--tertiary-color);
        transition: all 0.8s ease;
    }

    .links-container a {
        box-sizing: border-box;
        height: auto;
        margin: 0;
        width: 100%;
        padding: 0;
        justify-content: flex-start;
    }


    .open-sidebar-button, .close-sidebar-button {
        padding: 10px;
        display: block;
    }

    .open-sidebar-button i, .close-sidebar-button i {
        padding: 10px;
        display: block;
        font-size: 2em;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #home {
        height: 80vh;
        background-image: url('static/image.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home-content {
        top: -70px;
    }

    .home-content h2 {
        font-size: 1.3em;
        width: 200px;
      }
    
    .home-content a {
        font-size: 1em;
        width: 100px;
        height: 50px;
        padding: 10px 10px; 
    }

}


/* --------------About Section---------------- */
  
#about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
    /* border-bottom: 2px solid #333; */
}

#about h2 {
    text-decoration: underline;
    color: var(--secondary-color);
    margin: 0;
    padding: 20px;
    font-size: 4em;
}

.about-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-columns {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

}

.about-left, .about-right {
    flex: 1; 
    margin: 0;
    padding: 20px; 
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.about-left h3 {
    font-size: 2.5em;
    margin: 20px 0;
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--secondary-color);
}

.about-left p {
    font-size: 1.8em;
    text-align: center;
}

.about-right img{
    max-width: 100%;
    background-color: #333;
    box-shadow: 2px 2px 2px var(--primary-color);
    border-radius: 100%;
}

/* Responsive Styles */

@media (max-width: 768px) {
 
    .about-columns {
        flex-direction: column; 
        width: 100%;
        align-items: center;
    }

    .about-left, .about-right {
        border-right: none; 
        width: 100%;
    }

    #about h2 {
        font-size: 6vw;
    }

    .about-left h3 {
        font-size: 4vw;
    }

    .about-left p {
        font-size: 3vw;
        text-align: center;
    }
    
}

@media(max-width: 450px){

    #about h2 {
        font-size: 2em;
        margin: 0;
    }

    .about-left {
        width: 100%;
    }

    .about-left h3 {
        font-size: 1.5em;
    }

    .about-left p {
        font-size: 1em;
        text-align: left;
    }

    .about-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-right img {
        width: 100%;
    }
}


/* --------------Service Section---------------- */
#services {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


#services h2 {
    text-decoration: underline;
    color: var(--secondary-color);
    margin: 10px 0;
    font-size: 3em;
}

.services-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.services-columns {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    align-items: center;

}

.services-left, .services-right {
    flex: 1; 
    padding: 20px; 
    width: 50%;
    display: flex;
    justify-content: center;
}

.services-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.service-card-container p{
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
    text-decoration: underline;
}

.service-card {
    background-color: var(--card-color);
    width: 200px;
    height: 200px;
    max-width: 500px;
    max-height: 500px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px var(--primary-color);
    border-radius: 20px;
}

.service-card img {
    width: 80%;
}

.services-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.services-right h3 {
    font-size: 2.5em;
    margin: 20px 0;
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--secondary-color);
}

.services-right p {
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
    width: 70%;
}

.services-right a {
    color: var(--tertiary-color);
    font-size: 1.5em;
    background-color: var(--secondary-color);
    margin: 10px 0; 
    padding: 20px 20px; 
    max-width: 200px; 
    max-height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    border: 2px solid var(--secondary-color);
    transition: 0.8s ease;
    box-shadow: 2px 2px 4px var(--primary-color);
}

.services-right a:hover {
    color: var(--secondary-color);
    background-color: transparent;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .services-content {
        flex-wrap: wrap;
    }

    #services h2 {
        font-size: 6vw;
    }

    .services-columns {
        flex-direction: column;
        align-items: center;
    }

    .services-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .services-right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .services-right h3 {
        font-size: 6vw;
        margin: 0;
    }
    
    .services-right p {
        font-size: 4vw;
    }

    .services-right a {
        font-size: 4vw;
    }
}

@media(max-width: 450px) {
    .services-content {
        flex-wrap: wrap;
    }

    #services h2 {
        font-size: 2em;
    }

    .services-columns {
        flex-direction: column;
        align-items: center;
    }

    .services-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .service-card-container p {
        font-size: 1.6em;
    }

    .service-card {
        width: 150px;
        height: 100px;
        margin: 8px 0;
    }

    .service-card img {
        width: 60%;
    }

    .services-right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .services-right h3 {
        font-size: 1.5em;
        margin: 0;
        text-align: center;
    }
    
    .services-right p {
        font-size: 1em;
        text-align: left;
        width: 100%;
    }

    .services-right a {
        font-size: 1.5em;
        padding: 10px 10px;
    }
  
}

/* ----------------- Pricing Section ---------------- */

#pricing {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
}

.pricing-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing h2 {
    text-decoration: underline;
    color: var(--secondary-color);
    margin: 10px 0;
    font-size: 4em;
}

.pricing-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pricing-card {
    background-color: var(--card-color);
    max-width: 250px;
    max-height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px var(--primary-color);
    border-radius: 20px;
}

.pricing-card h3 {
    color: var(--tertiary-color);
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.pricing-card h1 {
    color: var(--tertiary-color);
    font-size: 3.8em;
    margin: 20px 0;
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--secondary-color);
}

.pricing-card ul {
    align-items: center;
    padding: 0 40px;
}

.pricing-card ul li {
    font-size: 1.1em;
    max-width: 80%;
}

/* Responsive Styles */

@media (max-width: 768px) {
    #pricing {
        height: fit-content;
    }

    #pricing h2 {
        font-size: 6vw;
    }

    .pricing-content {
        flex-wrap: wrap;
    }

    .pricing-card-container {
        flex-wrap: wrap;
    }

    .pricing-card {
        width: 60vw;
        height: fit-content;
    }

    .pricing-card h3 {
        font-size: 5vw;
        text-align: center;
    }

    .pricing-card h1 {
        font-size: 8vw;
    }

    .pricing-card ul li {
        font-size: 4vw;
    }
}

@media(max-width: 450px) {
    #pricing {
        height: fit-content;
    }

    #pricing h2 {
        font-size: 2em;
    }

    .pricing-content {
        flex-wrap: wrap;
    }

    .pricing-card-container {
        flex-wrap: wrap;
    }

    .pricing-card {
        width: 550px;
        height: fit-content;
    }

    .pricing-card h3 {
        font-size: 1.1em;
        text-align: center;
    }

    .pricing-card h1 {
        font-size: 2em;
    }

    .pricing-card ul li {
        font-size: 0.6;
    }
}

/* ----------------Testimonial Section---------------- */

#testimonials {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
}

.testimonial-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials h2 {
    text-decoration: underline;
    color: var(--secondary-color);
    margin: 10px 0;
    font-size: 4em;
}

.testimonial-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonial-card {
    background-color: var(--card-color);
    max-width: 450px;
    max-height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px var(--primary-color);
    border-radius: 20px;
}

.testimonial-card p {
    font-size: 1.6em;
    margin: 20px 0;
    padding: 0 40px;
}

.review {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

.review-profile {
    background-color: var(--secondary-color);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 1px 1px 2px var(--secondary-color);
}


.review-profile img {
    width: 70%;
    height: 70%;
}

.review i {
    font-size: 3em;
    color: var(--review-star-color);
    text-shadow: 1px 1px 2px var(--secondary-color);
}

/* Responsive Styles */

@media (max-width: 768px) {

    #testimonials h2 {
        font-size: 6vw;
    }

    .testimonials-content {
        flex-wrap: wrap;
    }

    .testimonial-card-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-card {
        width: 60vw;
        height: fit-content;
    }

    .testimonial-card p {
        font-size: 4vw;
        padding: 10px;
    }

    .review-profile {
        width: 10vw;
        height: 10vw;
    }

    .review i {
        font-size: 6vw;
    }
}

@media(max-width: 450px) {
    #testimonials h2 {
        font-size: 2em;
    }

    .testimonials-content {
        flex-wrap: wrap;
    }

    .testimonial-card-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-card {
        width: 200px;
        height: fit-content;
    }

    .testimonial-card p {
        font-size: 1em;
        padding: 10px;
    }

    .review-profile {
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    .review i {
        font-size: 1.2em;
    }

}

/* ---------------- Footer ---------------- */

footer {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 40px 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer h2 a {
    text-decoration: none;
    color: var(--tertiary-color);
}

footer p {
    font-size: 0.8em;
}

footer i {
    color: var(--tertiary-color);
    font-size: 3em;
    margin: 0 10px; 
}

/* Responsive Styles */

@media(max-width: 450px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    footer p {
        font-size: 2.5vw; /* Increase font size for smaller screens */
    }

    footer h2 {
        font-size: 1em;
        margin: 10px;
    }

    footer i {
        font-size: 1.5em; /* Increase icon size for smaller screens */
        margin: 5px; /* Adjust margin for smaller screens */
    }
}




    


